*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0,0.6)),url(../main.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;

}

/* Style for the main home page */ 
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1370px;
	margin: auto;
}

ul li a.active{
	background-color: #fff;
	color: #000;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
		color: #fff;
		font-size: 70px;
	}

.button{

	position: absolute;
	top: 65%;
	left: 50.55%;
	transform: translate(-50%, -50%);
}

.btn{
	margin-right: 16px;
	border: 1px solid #fff;
	padding: 20px 50px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

												/*	 Style for Log in page 	   */

.titlelogin{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titlelogin h1{
		color: #fff;
		font-size: 70px;
	}

.login{
	position: absolute;
	top: 45%;
	left: 50.55%;
	transform: translate(-50%, -50%);

	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 40px;
	margin: 8% auto 0;
	text-align: center;
}

.login h1{
		color: #000;
		font-size: 30px;
	}

.login p{
		color: blue;
		
	}	

.inputbox{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #999;
	outline: none;
}
											/*for all buttons*/
button{
	
	width: 100%;
	padding: 10px 50px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.6s ease;
	background: lightgray;

}

button:hover{
	background-color: green;
	color: #fff;
}

.loginbutton{

	text-decoration: none;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.6s ease;
	background: lightgray;

}

.loginbutton:hover{
	background-color: green;
	color: #fff;

	}

.loginbutton a{
	
	text-decoration: none;
	
}
									/*		SIGN UP               */

.titlesignup{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titlesignup h1{
		color: #fff;
		font-size: 70px;
	}								

											/*    	  TEST PAPER        */

.testquestion{
position: absolute;
	top: 45%;
	left: 50.55%;
	transform: translate(-50%, -50%);

	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 40px;
	margin: 8% auto 0;
	text-align: center;
}


.testquestion h1{
	color: #000;
		font-size: 30px;
	}


												/*		TEST STYLING				*/


